@font-face {
	font-family: 'zaycevinet';
	src:url('fonts/zaycevinet.eot?-v4fyow');
	src:url('fonts/zaycevinet.eot?#iefix-v4fyow') format('embedded-opentype'),
		url('fonts/zaycevinet.woff?-v4fyow') format('woff'),
		url('fonts/zaycevinet.ttf?-v4fyow') format('truetype'),
		url('fonts/zaycevinet.svg?-v4fyow#zaycevinet') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'zaycevinet';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
	content: "\e600";
}

.icon-cross:before {
	content: "\e601";
}

.icon-download:before {
	content: "\e602";
}

.icon-favorites:before {
	content: "\e603";
}

.icon-next:before {
	content: "\e604";
}

.icon-pause:before {
	content: "\e605";
}

.icon-play:before {
	content: "\e606";
}

.icon-playlist:before {
	content: "\e607";
}

.icon-plus:before {
	content: "\e608";
}

.icon-previous:before {
	content: "\e609";
}

.icon-repeat:before {
	content: "\e60a";
}

.icon-search:before {
	content: "\e60b";
}

.icon-share:before {
	content: "\e60c";
}

.icon-user:before {
	content: "\e60d";
}

.icon-volume:before {
	content: "\e60e";
}

