.wrapper {
    margin: 0 auto;
    max-width: @screen-lg;
}

// Page

.page {
    position: relative;

    padding-top: @toolbar-height-default;
    padding-bottom: @player-height-default + @grid-gutter-width;
    padding-left: @panel-width-default;

    @media (min-width: @screen-lg-min) {
        padding-right: @content-t_column-size - @grid-gutter-width;
    }

    .container-fluid {
        display: table;
        width: 100%;

        [class*="col-"] {
            margin-top: @grid-gutter-width;

            h1, h3, p {
                margin-top: 0;
                margin-bottom: @indent-default*2;
            }
        }

        .aunit { width: 100%; }
    }

    // Title block

    .title {
        .font-size(@font-size-medium);

        .hide {
            display: block;

            opacity: 0;
            margin-bottom: @indent-default*2;
        }

        &:after {
            content: " ";
        }
    }

    // Component: Cutaway (artist, profile, etc)

    .cutaway {
        margin-bottom: @grid-gutter-width;
    }

    // Widget: Artists

    .artists {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        a {
            display: block;
            text-align: center;
            text-decoration: none;

            margin-top: @grid-gutter-width;

            .name {
                margin-top: @indent-default;

                .font-size(@font-size-small);
                color: @color-gray-darkest;
            }

            img { width: 100%; }
        }
    }

    a {
        color: @color-highlight1;
        text-decoration: none;

        span:hover { text-decoration: underline; }
    }
}

// Right column

.r-column {

    @media (min-width: @screen-lg-min) {
        position: absolute;
        right: 0;
        top: 0;

        padding-top: @toolbar-height-default;
        width:  @content-t_column-size !important;
    }

    // Widget: Latest

    .latest {

        .a-player {
            background-color: transparent !important;

            .information { display: block !important; }

            .text {
                .font-size(@font-size-small);
            }
        }
    }

    // Widget: VK.com

    .vk {
        img { width: 100%; }
    }

    // About

    .about {
        border: @border-width-default @color-gray-light solid;
        padding: @indent-default*2;

        .links {
            margin-top: @grid-gutter-width*2;

            a {
                display: block;
                color: @color-highlight1;

                line-height: @font-size-default;

                &:not(:hover) {
                    text-decoration: none;
                }

                &:not(:last-child) {
                    padding-bottom: @indent-default/2;
                }
            }
        }

        .copy {
            margin-top: @grid-gutter-width*2;
            color: @color-gray-default;

            .font-size(@font-size-small);
        }
    }
}

// Ad units

.aunit {
    position: relative;
    display: inline-block;

    a { display: block; }

    img { width: 100%; }

    button {
        position: absolute;
        right: 0;
        top: 0;
    }
}

// Scaffolding

h1 {
    font-weight: @font-weight-light;

    .font-size(@font-size-large);
}

h3 {
    font-weight: normal;

    .font-size(@font-size-medium);
}