// FOOTER (PLAYER WRAPPER)

.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    z-index: @player-index;

    &>div {
        margin: 0 auto;
        max-width: @screen-lg;
    }
}