.header {
    position: relative;
    left: 0;
    top: 0;

    height: @header-height-default;
    width: 100%;

    padding: @indent-head;

    text-align: center;
    font-size: 0;

    z-index: @header-index;

    background-color: white;

    img { height: 100%; }
}