.panel {
	position: absolute;
	top: 0;

	// +5% bug fixes: white stripe
	height: 105%;

	z-index: @panel-index;

	&>div {
		position: relative;

		background-color: @border-gray-default;
		width: @panel-width-default;
		height: 100%;
	}

	.logo {
		height: @toolbar-height-default;
		text-align: center;

		.pattern-cell();
	}

	.mainmenu {
		padding: @grid-gutter-width;

		a {
			display: block;
			text-decoration: none;

			color: @color-gray-default;

			&:hover {
				color: @color-typographic;
			}

			&:not(:last-child) {
				margin-bottom: @indent-default;
			}
		}
	}
}