.toolbar {
	position: absolute;

	max-width: @screen-lg;
	width: 100%;

	z-index: @toolbar-index;

	.pattern-cell();

	.textbox { width: 100%; }

	.control {
		position: absolute;
		right: 0;
		top: 0;

		display: table;

		line-height: @toolbar-height-default;
		height: @toolbar-height-default;

		a {
			display: block;
			float: left;

			text-transform: uppercase;
			text-decoration: none;

			background-color: transparent;
			color: @color-gray-default;

			padding-right: @grid-gutter-width;

			i { font-size: @icon-size-default; }

			&:last-child { padding-left: @grid-gutter-width; }

			&:hover { color: @color-typographic; }
		}
	}

	&>div {
		position: relative;
		height: @toolbar-height-default;

		background-color: @color-gray-easy;
		padding-left: @panel-width-default + @grid-gutter-width;
		padding-right: 30%;
	}
}