div.footer: div

    div.m-player

        div.bar
            div.line.basic
            div(style="width:30%").line.current
                div.marker

        div.management
            button.v-square.icon.th-trans-gray: i.icon-playlist

            div.control
                button.icon.th-trans-gray: i.icon-previous
                button.icon.th-trans-gray: i.icon-play
                button.icon.th-trans-gray: i.icon-next

        div.management.rtl

            div.control
                button.icon.th-trans-gray: i.icon-download
                button.icon.th-trans-gray: i.icon-favorites
                button.icon.th-trans-gray: i.icon-share

            div.control
                button.icon.th-trans-gray: i.icon-repeat
                button.icon.th-trans-gray: i.icon-volume

        div.text: div
            span.name Название композиции
            span.artist Испонитель 