div.panel: div
    div.logo: a(href="/")
        img(src="img/logo.png")

    div.mainmenu: div
        a(href="/"): span Новинки за сегодня
        a(href="/"): span Новинки mp3
        a(href="/"): span Русские новинки
        a(href="/"): span Зарубежные новинки
        a(href="/"): span Клубные новинки
        a(href="/"): span Радио новинки
        a(href="/"): span Исполнители
        a(href="/"): span Жанры