div.tracklist
    div
        - for(var i=0;i<10;i++)
            div.track.a-player
                div.management
                    div.control
                        button.icon.th-trans-gray: i.icon-play
                        //- button.icon.th-trans-gray: i.icon-pause

                    div.information сегодня

                div.management.rtl

                    div.control
                        button.icon.th-trans-gray: i.icon-plus

                    div.information 2:02

                div.text: div
                    span.name Название композиции
                    span.artist Испонитель

    div.more
        button.v-rect.oval.th-gray: span Показать еще