doctype html
html
    head
        include import/meta
        block title

    link(rel="stylesheet" href="css/global.css")

    body
        include blocks/header

        div.wrapper
            include blocks/panel
            include blocks/toolbar

            div.page
                block content

            include blocks/footer

    include import/script