extends _wrapper

block title
    title Artist - Zaycevi NET

block content
    div.container-fluid
        div.col-lg-12
            include blocks/breadcumbs
            
        div.col-lg-12
            div.cutaway
                div.pic.cover: img(src="img/temporary12.jpg")
                div.details
                    h1 Linkin Park
                    div.caption Жанры
                    div.tags
                        a(href="/"): span Alternative
                        a(href="/"): span Pop
                        a(href="/"): span Rock

                    div.caption Поделиться
                    div.share
                        button.th-gray: i.icon-cross
                        button.th-gray: i.icon-cross
                        button.th-gray: i.icon-cross
                        button.th-gray: i.icon-cross

            p Одной из наиболее знаковых и заметных альтернативных рок-групп из Америки является Linkin Park. Проект образовался в далеком 1999 году и с тех пор продолжает активно радовать своих фанатов качественной музыкой.
            button.v-link.th-link1: span Читать полностью ...

        div.col-lg-12
            h3 Все композиции исполнителя
            include blocks/tracklist

    div.r-column.container-fluid
        div.col-lg-12.visible-lg
            div.aunit
                a(href="/", target="_blank"): img(src="img/banner_right.jpg")
                button.v-square.icon.th-trans-white: i.icon-cross

        //- div.col-lg-12.visible-lg
        //-     div.latest
        //-         h3 Новинки mp3
        //-         div.tracklist
        //-             div
        //-                 - for(var i=0;i<5;i++)
        //-                     div.track.a-player.m-hide
        //-                         div.management.rtl
        //-                             div.information 2:02

        //-                         div.text: div
        //-                             span.name Название композиции
        //-                             span.artist Испонитель

        //-             div.more
        //-                 button.v-rect.oval.th-gray: span Показать еще

        div.col-lg-12.col-md-4.col-sm-6
            div.vk: img(src="img/vk.jpg")

        div.col-lg-12.col-md-8.col-sm-6
            div.about
                div.logo: a(href="/")
                    img(src="img/logo.png")

                div.links
                    a(href="/"): span Контакты
                    a(href="/"): span Правообладателям
                    a(href="/"): span Обращение к пользователям


                div.copy: span Все права защищены 2015
