extends _wrapper

block title
    title Bone / Main - Zaycevi NET

block content
    div.container-fluid
        div.col-lg-12
            h1 Тонны mp3 музыки
            p Вы находитесь на сайте музыкальных новинок и хитов — Зайцев.нет. Начните с раздела русских новинок, здесь собраны новинки отечественных исполнителей (российских, украинских и белорусских). Мы постоянно обновляем каталоги музыкальными новинками зарубежных исполнителей и диджеев. На ваш выбор представлены жанры – от Pop, Dubstep, Rap до Шансона и Рока. Будь активным меломаном – составляй личный плейлист и слушай любимую музыку. Приятного прослушивания =)
            button.v-link.th-link1: span Читать полностью ...

        div.col-lg-12
            h3 Тонны музыки
            include blocks/tracklist


        div.col-lg-12
            div.aunit
                a(href="/", target="_blank"): img(src="img/banner_conent.jpg")
                button.v-square.icon.th-trans-white: i.icon-cross

        div.col-lg-6.col-md-5.col-sm-3.hidden-sm
            //- div.title: span.hide Twitter
            img(src="img/temporary1.jpg", title="", style="width: 100%")

        div.col-lg-6.col-md-7.col-sm-12
            div.title: span Популярные исполнители
            div.artists
                - for(var i=2;i<12;i++)
                    - var name = "img/temporary" + i + ".jpg"
                        if i>7
                            div.visible-md: a(href="/")
                                img(src="#{name}")
                                div.name Исполнитель
                        else 
                            div: a(href="/")
                                img(src="#{name}")
                                div.name Исполнитель



    div.r-column.container-fluid
        div.col-lg-12.visible-lg
            div.aunit
                a(href="/", target="_blank"): img(src="img/banner_right.jpg")
                button.v-square.icon.th-trans-white: i.icon-cross

        div.col-lg-12.visible-lg
            div.latest
                h3 Новинки mp3
                div.tracklist
                    div
                        - for(var i=0;i<5;i++)
                            div.track.a-player.m-hide
                                div.management.rtl
                                    div.information 2:02

                                div.text: div
                                    span.name Название композиции
                                    span.artist Испонитель

                    div.more
                        button.v-rect.oval.th-gray: span Показать еще

        div.col-lg-12.col-md-4.col-sm-6
            div.vk: img(src="img/vk.jpg")

        div.col-lg-12.col-md-8.col-sm-6
            div.about
                div.logo: a(href="/")
                    img(src="img/logo.png")

                div.links
                    a(href="/"): span Контакты
                    a(href="/"): span Правообладателям
                    a(href="/"): span Обращение к пользователям


                div.copy: span Все права защищены 2015
