extends _wrapper

block title
    title Elements - Zaycevi NET

block content
    div.container-fluid.ui-wrapper
        div.col-lg-12
            button.v-square.icon.th-trans-gray: i.icon-playlist
            button.v-square.icon.th-trans-gray: i.icon-previous
            button.v-square.icon.th-trans-gray.active: i.icon-play
            button.v-square.icon.th-trans-gray: i.icon-pause
            button.v-square.icon.th-trans-gray: i.icon-next
            button.v-square.icon.th-trans-gray: i.icon-download
            button.v-square.icon.th-trans-gray: i.icon-favorites
            button.v-square.icon.th-trans-gray: i.icon-share
            button.v-square.icon.th-trans-gray: i.icon-repeat
            button.v-square.icon.th-trans-gray: i.icon-volume

        div.col-lg-12
            button.v-rect.oval.th-gray: span Button: Oval, Gray
            button.v-rect.round.th-gray: span Button: Rounded, Gray
            button.v-circle.th-gray: i.icon-favorites

        div.col-lg-12
            button.v-rect.oval.th-highlight1: span Button: Oval, Highlight1
            button.v-rect.round.th-highlight1: span Button: Rounded, Highlight1
            button.v-circle.th-highlight1: i.icon-favorites

        div.col-lg-12
            div.paginator.horizontal
                a(href="/"): span 1
                a(href="/"): span 2
                a(href="/").active: span 3
                a(href="/"): span 4
                a(href="/"): span 5
                a(href="/"): span 6