extends _wrapper

block title
    title My Profile - Zaycevi NET

block content
    div.container-fluid
        div.col-lg-12
            include blocks/breadcumbs
            
        div.col-lg-12
            h1 Мой профиль

            div.cutaway
                div.pic.user: img(src="img/temporary13.jpg")
                div.user
                    div.briefly
                        span Danil Chunikhin
                        a(href="/"): span danil@chunikhin.com

                    button.v-rect.round.th-highlight1: span Настройки

        div.table.flatbtn
            div.row
                a(href="/")
                    Моя музыка
                    i.icon-cross

                a(href="/")
                    История прослушивания
                    i.icon-cross

    div.r-column.container-fluid
        div.col-lg-12.visible-lg
            div.aunit
                a(href="/", target="_blank"): img(src="img/banner_right.jpg")
                button.v-square.icon.th-trans-white: i.icon-cross

        div.col-lg-12.visible-lg
            div.latest
                h3 Новинки mp3
                div.tracklist
                    div
                        - for(var i=0;i<5;i++)
                            div.track.a-player.m-hide
                                div.management.rtl
                                    div.information 2:02

                                div.text: div
                                    span.name Название композиции
                                    span.artist Испонитель

                    div.more
                        button.v-rect.oval.th-gray: span Показать еще

        div.col-lg-12.col-md-4.col-sm-6
            div.vk: img(src="img/vk.jpg")

        div.col-lg-12.col-md-8.col-sm-6
            div.about
                div.logo: a(href="/")
                    img(src="img/logo.png")

                div.links
                    a(href="/"): span Контакты
                    a(href="/"): span Правообладателям
                    a(href="/"): span Обращение к пользователям


                div.copy: span Все права защищены 2015
