html { height: 100%; }

body, input, textarea, button {
    font-family: @font-family-default;
    font-size: @font-size-default;
}

body {
    margin: 0;
    overflow-y: scroll;

    color: @color-typographic;

    * {
        outline: none;
        box-sizing: border-box;
    }

    img { vertical-align: top; }

    &:not(.header-hide) {
        &:not(.panel-fixed) {
           .panel { padding-top: @header-height-default; } 
        }     
    }

    &.header-hide {
        .header { display: none; }
    }

    &.panel-fixed {
        .panel {
            position: fixed;
        }
    }
}


// Mixins

@import "bootstrap/bootstrap";

@import "mixins/ui-components";
@import "mixins/ui-icons";
@import "mixins/ui-core";
@import "mixins/common";


// Interface

@import "interface";


// Layers

@import "layers/toolbar";
@import "layers/header";
@import "layers/footer";
@import "layers/panel";

@import "layers/basic";


// Settings

@import "variables";