// Buttons

button {
    ._button();

    span {
        font-size: @font-size-small;
        font-weight: @font-weight-medium;

        display: block;
        line-height: @font-size-small;
    }

    &.icon i { font-size: @icon-size-default; }

        // Themes

        &.th-trans-gray {
            background-color: transparent;
            color: @color-gray-default;

            &:hover { color: @color-gray-dark; }

            &.active { color: @color-highlight1; }

            &[disabled] { color: @color-gray-light !important; }
        }

        &.th-trans-white {
            background-color: transparent;
            color: fade(white,80%);

            &:hover { color: white; }
        }

        &.th-gray {
            background-color: @color-gray-easy;

            border-width: @border-width-default;
            border-color: @border-gray-default;
            border-style: solid;

            color: @color-gray-darkest;

            &:not([disabled]) {

                &:hover {
                    background-color: @color-gray-light;
                    border-color: @border-gray-dark;
                }
            }

            &:active { color: @color-highlight1; }

            &[disabled] {
                color: @color-gray-light !important;
            }
        }

        &.th-highlight1 {
            border: none;
            color: white;

            &:not([disabled]) {
                background-color: @color-highlight1;

                &:hover {
                    background-color: @color-highlight1-light;
                }

                &:active {
                    background-color: @color-highlight1-dark;
                }
            }

            &[disabled] {
                background-color: @color-highlight1-easy;
            }
        }

        &.th-link1 {
            background-color: transparent;
            color: @color-highlight1;

            &:hover span {
                text-decoration: underline;
            }
        }
    }


// Textbox: input, textarea

.textbox {
    ._textbox();

    input {
        background-color: white;
        border: @border-width-default @border-gray-default solid;
    }

    &.complex i {
        font-size: @icon-size-small;
        color: @border-gray-default;
    }
}

// Paginator

.paginator {
    ._paginator(@border-width-default);

    &:not([class*="th-"]) {

        a {
            color: @color-gray-darkest;

            &:not(:hover) {
                text-decoration: none;
            }

            &.active {
                background-color: @color-gray-easy;

                border-width: @border-width-default;
                border-color: @border-gray-default;
                border-style: solid;

                &:hover {
                    background-color: @color-gray-light;
                    border-color: @border-gray-dark;
                }

                &:active { color: @color-highlight1; }
            }
        }
    }
}

// Player's

.m-player {
    ._player(@indent-default, @player-height-default, @p_bar-height-default);

    // Configure the widget

    padding-left: @panel-width-default + @grid-gutter-width;

    .management {

        &:not(.rtl) {

            .control { margin-left: @indent-default*4; }
        }

        &.rtl {

            .control {
                border-left: @border-width-default @color-gray-light solid;

                padding-right: @indent-default*2;
                padding-left: @indent-default*2;
            }
        }
    }

    // Theme

    &:not([class*="th-"]) {
        background-color: @color-gray-easy;

        .bar {
            .basic { background-color: @border-gray-dark; }
            .current { background-color: @color-highlight1; }
            .marker { background-color: white; }
        }

        .text {
            .name {
                font-weight: @font-weight-medium;
                font-size: @font-size-medium;
            }

            .artist {
                font-size: @font-size-default;
                color: @color-gray-darkest;
            }
        }
    }
}

.a-player {
    ._player(@indent-default, @player-height-small);

    // Configure the widget

    .management {

        .information {
            line-height: @player-height-small;

            width: @track-m_ltr-width;
            height: inherit;
        }

        .text { line-height: @font-size-default; }

        &:not(.rtl) {

            .control {
                width: @track-m_ltr-width;

                button {
                    width: @track-m_ltr-width;
                }
            }
        }

        &.rtl {

            .control {
                width: @track-m_ltr-width;

                button { width: inherit;}
            }
        }
    }

    &:not(:hover) {
        .control { display: none; }
    }

    &:hover {
        .information { display: none; }
    }

    &:not(.m-hide) {
        padding-left: @track-m_ltr-width + @indent-default;
    }

    &.m-hide {
        padding-left: 0;
    }

    // Theme

    &:not([class*="th-"]) {

        .information {
            font-size: @font-size-tiny;
            color: @color-gray-default;
            text-align: center;
        }

        .artist { color: @color-gray-darkest; }

        &:hover {
            background-color: @color-gray-easy;
        }
    }
}

// Tracklist

.tracklist {

    ._tracklist(@grid-gutter-width);

    &:not([class*="th-"]) {
        border-top: @border-width-default @color-gray-light dotted;

        .track {
            border-bottom: @border-width-default @color-gray-light dotted;
        }
    }
}

// Cutaway

.cutaway {
    .pattern-cell();

    .pic {
        padding-right: @grid-gutter-width;

        img { width: 100%; }

        &.user {
            width: @cutaway-user-size;

            img {
                border-radius: 50%;
            }
        }

        &.cover {
            width: @cutaway-cover-size;
        }
    }

    .user {

        .briefly {
            margin-bottom: @grid-gutter-width;
            
            &>span { .font-size(@font-size-medium); }

            a { display: block; }
        }
    }

    .details {

        .caption {
            margin-top: @grid-gutter-width;
            margin-bottom: @indent-default;

            color: @color-gray-default;

            line-height: @font-size-default;
        }

        .share {
            font-size: 0;

            button {
                height: @share-btn-size;
                width: @share-btn-size;

                border-radius: @border-radius-default;
                padding: 0;

                i { font-size: @icon-size-default; }

                &:not(:last-child) {
                    margin-right: @indent-default;
                }
            }
        }

        .tags {

            a {

                &:not(:last-child) {
                    &:after {
                        content: ", ";
                    }
                }
            }
        }
    }
}

// Breadcumbs

.breadcumbs {
    color: @color-gray-default;
    font-size: 0;

    &>div {
        display: inline-block;
        font-size: @font-size-default;
        
        &:not(:last-child) {
            &:after {
                margin: 0 @indent-default/2;
                content: "/";
            }
        }
    }
}

// Flat buttons

.flatbtn {
    border-collapse: separate;

    .font-size(@font-size-default);
    .pattern-cell();

    a {
        position: relative;

        border-left: @border-width-default*2 @border-gray-default solid;

        background-color: @color-gray-easy;
        padding: @indent-default*2;

        color: @color-gray-default !important;

        &:hover {
            background-color: @color-gray-light;
            color: @color-gray-darkest;
        }

        i {
            position: absolute;
            right: @indent-default;
            top: @indent-default;
        }
    }
}