// FONT & ICON
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);

    // Font family & sizes
    @font-family-default: 'Roboto', sans-serif;
    @font-size-default: 14px;
    @font-size-tiny: 10px;
    @font-size-small: 12px;
    @font-size-medium: 18px;
    @font-size-large: 26px;

    // Font weight
    @font-weight-light: 300;
    @font-weight-medium: 500;

    // Icon sizes
    @icon-size-default: 26px;
    @icon-size-small: 20px;


// COLOR SHEME

    // Basic colors
    @color-typographic: #444444;
    @color-background: white;
    @color-highlight1: #27a7fa;

    // Additional colors
        // Dark & Light
        @color-background-dark: darken(@color-background, 7%);

        // Gray shades
        @color-gray-default: #a5a5a5;
        @color-gray-easy: #f7f9f9;
        @color-gray-light: #f0f1f1;
        @color-gray-dark: #757575;
        @color-gray-darkest: #666;

        // Border color
        @border-gray-default: #eeeeee;
        @border-gray-dark: #e0dfdf;

        // Highlight1 shades
        @color-highlight1-easy: #b4e0ff;
        @color-highlight1-light: #55b9ff;
        @color-highlight1-dark: #1993e8;

        // Hightlight2 shades

    // Separator's


// SIZES, INDENTS

    // Common
    @border-radius-default: 8px;
    @border-width-default: 1px;
    @indent-default: 10px;

    // Header
    @header-height-default: 100px;
    @indent-head: 5px;

    // Panel
    @panel-width-default: 220px;

    // Toolbar
    @toolbar-height-default: 70px;

    // Player
    @player-height-default: 70px;
    @p_bar-height-default: 10px;

    @player-height-small: 50px;

    // Tracklist
    @track-m_ltr-width: 50px;

    // Right column
    @content-t_column-size: 290px;

    // Cutaway (artist, profile, etc)
    @cutaway-cover-size: 200px;
    @cutaway-user-size: 120px;
    @share-btn-size: 40px;


// SHADOWS
    // Basic angle



// Z-INDEX
    // Fixed elements: 50-100
    @player-index: 99;
    @panel-index: 98;
    @header-index: 97;
    @toolbar-index: 96;



// BOOTSTRAP

    // Grid system
    @grid-columns: 12;
    @grid-gutter-width: @indent-default*2;
    @grid-float-breakpoint: @screen-sm-min;
    @grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

    // Media queries breakpoints

        // Extra small screen / phone
        @screen-xs: 480px;
        @screen-xs-min: @screen-xs;
        @screen-phone: @screen-xs-min;

        // Small screen / tablet
        @screen-sm: 768px;
        @screen-sm-min: @screen-sm;
        @screen-tablet: @screen-sm-min;

        // Medium screen / desktop
        @screen-md: 992px;
        @screen-md-min: @screen-md;
        @screen-desktop: @screen-md-min;

        // Large screen / wide desktop
        @screen-lg: 1170px;
        @screen-lg-min: @screen-lg;
        @screen-lg-desktop: @screen-lg-min;

        // So media queries don't overlap when required, provide a maximum
        @screen-xs-max: (@screen-sm-min - 1);
        @screen-sm-max: (@screen-md-min - 1);
        @screen-md-max: (@screen-lg-min - 1);