// WRAPS PATTERNS

    // Table cell pattern

    .pattern-cell (@width: 100%) {
        display: table;
        width: @width;

        &>* {
            display: table-cell;
            vertical-align: inherit;
        }

        &:not(.top) { vertical-align: middle; }
    }

    // Table pattern

    .table {
        display: table;
        border-collapse: collapse;

        &>* {
            display: table-row;

            &>* {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

// CROSS-BROWSER

    // Selection

    .selection (@bg-color, @color) {

        &::selection {
            background-color: @bg-color;
            color: @color;
        }
    }

    .font-size(@size, @factor: 0){
        line-height: @size + @factor;
        font-size: @size;
    }