// UI CORE

// RULE
// - Parameters of the element(order ltr): thickness of lines, dimensions, spacing
// - It is forbidden to use the stylistic properties

    // Private: Buttons
    ._button (@border-width: 1px, @size-default: 30px, @size-big: 50px, @padding: 15px) {

        // Common

        margin: 0;

        &:not([disabled]) { cursor: pointer; }

        // Variant

        &.v-square {
            height: @size-big;
            width: @size-big;

            border: none;
            padding: 0;

            &::-moz-focus-inner {
                border: none;
                padding: 0;
            }
        }

        &.v-rect {
            height: @size-default;

            &:not(.icon) { padding: 0 @padding*2;  }

            &.oval { border-radius: @size-default/2; }
            &.round { border-radius: 8px; }
        }

        &.v-circle {
            height: @size-default;
            width: @size-default;
            padding: 0;

            border-radius: @size-default;
            text-align: center;

            &::-moz-focus-inner { padding: 0; }
        }

        &.v-link {
            border: none;
            padding: 0;

            &::-moz-focus-inner {
                border: none;
                padding: 0;
            }
        }

    }

    // Private: Textbox
    ._textbox (@border-width: 1px, @size-default: 40px, @padding: 10px) {
        position: relative;
        display: inline-block;

        input {
            padding: 0 @padding;
            
            height: @size-default;
            width: 100%;
        }

        &.complex {
            input { padding-right: @size-default; }

            i {
                position: absolute;
                top: @border-width;
                right: 0;

                line-height: @size-default - @border-width*2;
                width: @size-default;

                text-align: center;
            }
        }
    }