// UI CORE

// RULE
// - Parameters of the element(order ltr): thickness of lines, dimensions, spacing
// - It is forbidden to use the stylistic properties

._paginator (@border-width: 1px, @size-default: 30px) {
    display: table;

    a {
        display: block;

        line-height: @size-default - @border-width*2;
        width: @size-default - @border-width*2;

        border-radius: @size-default/2;
        text-align: center;
    }

    &.horizontal {
        a { float: left; }
    }
}


// Private: player

._player (@indent: 10px, @height: 70px, @bar-height: 0) {
    position: relative;
    height: @height;

    .bar {
        position: absolute;
        left: 0;
        top: 0;

        height: @bar-height;
        width: 100%;

        cursor: pointer;

        .line {
            height: inherit;

            &.basic { position: relative; }

            &.current {
                position: absolute;
                top: 0;

                .marker {
                    position: absolute;
                    right: -@bar-height/4;
                    top: 0;

                    width: @bar-height/2;
                    height: inherit;
                }
            }
        }   
    }

    // Button's

    .management {
        position: absolute;
        top: 0;

        padding-top: @bar-height;
        height: 100%;

        font-size: 0;

        button { height: inherit; }

        .control {
            display: inline-block;
            height: inherit;

            button {
                border: none;
                padding: 0;

                &::-moz-focus-inner {
                    border: none;
                    padding: 0;
                }

                &:not(:first-child) {
                    margin-left: @indent;
                }
            }
        }

        // Direction 

        &:not(.rtl) { left: 0; }

        &.rtl { right: 0; }
    }

    // Text

    .text {
        padding-top: @bar-height;
        height: inherit;

        .pattern-cell();

        span { display: block; }
    }
}

// Tacklist

._tracklist (@indent: 20px) {

    .more {
        margin-top: @indent;
        text-align: center;

        button {
            max-width: 80%;
            width: 100%;
        }
    }
}

