//- Note: This solution - a prototype.

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script.
    $(document).ready(function() {
        var scrolled;

        if(scrolled>100) {
            $("body").addClass("hello");
        }
        else {
            $("body").removeClass("hello");
        }
    });

    window.onscroll = function() {
        var scrolled = window.pageYOffset || document.documentElement.scrollTop;
        console.log(scrolled);

        if(scrolled>100) {
            $("body").addClass("panel-fixed ");
        }
        else {
            $("body").removeClass("panel-fixed ");
        }
    }